In [110]:
import pandas as pd
from tqdm import tqdm
import numpy as np

tqdm.pandas()

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth', 70)

In [111]:
df = pd.read_csv('/Users/user/Desktop/BTSD/july2021_out2.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [112]:
df.date = pd.to_datetime(df.date, format='%d/%m/%Y')

In [113]:
df.dtypes

request_id                 object
user_id                    object
city                       object
product_name               object
price                      object
quantity                   object
total_price                object
organization_id            object
shop_name                  object
shop_name_norm             object
shop_address               object
fiscal_id                 float64
rnm                       float64
date               datetime64[ns]
time                       object
cash                      float64
card                      float64
credit                    float64
tare                      float64
url                        object
dtype: object

In [114]:
df.head(5)

,request_id,user_id,city,product_name,price,quantity,total_price,organization_id,shop_name,shop_name_norm,shop_address,fiscal_id,rnm,date,time,cash,card,credit,tare,url
0,9b8ce686-0180-48df-9ba2-9925433b8786,73f2a300-5f64-4280-ad0f-1d3d59f4ccc8,Павлодар,"Молоко ""ДЕПовское"" ультрапастеризованное, от 3 до 4 %, 500г(шт)",273,3.0,2131,10140004275,"товарищество с ограниченной ответственностью ""де-трейд""",де-трейд,"павлодар, исиналиева 58",2.336260e+09,4.515001e+11,2021-07-06,13:39,0.0,2131.0,0.0,0.0,https://consumer.oofd.kz/api/tickets/ticket/a4a9165c-eb9a-4c2e-940...
1,9b8ce686-0180-48df-9ba2-9925433b8786,73f2a300-5f64-4280-ad0f-1d3d59f4ccc8,Павлодар,"Масло сливочное ""Крестьянское"" фас.200 г(шт)",656,2.0,2131,10140004275,"товарищество с ограниченной ответственностью ""де-трейд""",де-трейд,"павлодар, исиналиева 58",2.336260e+09,4.515001e+11,2021-07-06,13:39,0.0,2131.0,0.0,0.0,https://consumer.oofd.kz/api/tickets/ticket/a4a9165c-eb9a-4c2e-940...
2,3af3a8fa-a608-43d1-aef5-14a8a1bf4949,acb5830e-ddad-4593-ba26-327401d2aa9a,Павлодар,МОЛ.ТОП 35 850Г - BEST MILK,248,1.0,258,131141020408,"павлодарский филиал товарищества с ограниченной ответственностью ""...",small,"экибастуз, ул. машхур жусуп д. строение 88",2.832591e+09,4.516000e+11,2021-07-09,14:06,0.0,258.0,0.0,0.0,https://consumer.oofd.kz/api/tickets/ticket/b55866cc-70a2-460f-aed...
3,3af3a8fa-a608-43d1-aef5-14a8a1bf4949,acb5830e-ddad-4593-ba26-327401d2aa9a,Павлодар,ПАКЕТ SMALLSKIF - SMALL,5,2.0,258,131141020408,"павлодарский филиал товарищества с ограниченной ответственностью ""...",small,"экибастуз, ул. машхур жусуп д. строение 88",2.832591e+09,4.516000e+11,2021-07-09,14:06,0.0,258.0,0.0,0.0,https://consumer.oofd.kz/api/tickets/ticket/b55866cc-70a2-460f-aed...
4,8b8270ca-f931-43c4-859d-2f99b8a41bf0,389ea557-6408-4096-9a66-05c54dc252ee,Талдыкорган,Пакет Magnum платн,7,4.0,4685,190241009479,алматинский филиал №28 товарищества с ограниченной ответственность...,magnum,"ауэзовский, ул. жандосова д. 162 в, н.п. 133",3.245408e+09,6.003001e+11,2021-07-20,21:55,0.0,4685.0,0.0,0.0,https://consumer.oofd.kz/api/tickets/ticket/5a2f7a6d-536b-4300-967...

In [115]:
df.columns

Index(['request_id', 'user_id', 'city', 'product_name', 'price', 'quantity',
       'total_price', 'organization_id', 'shop_name', 'shop_name_norm',
       'shop_address', 'fiscal_id', 'rnm', 'date', 'time', 'cash', 'card',
       'credit', 'tare', 'url'],
      dtype='object')

In [116]:
df.shape[0]

265962

In [117]:
df = df[df.shop_name_norm.str.contains('аптека|садыхан|гиппократ|фарм', na = False)==False]

In [118]:
df.shape[0]

263726

## Покупатели в Small в период 21/07-26/07

In [161]:
start_date, end_date = '2021-07-07', '2021-07-12'

In [162]:
small_users = df[(df.date>=start_date)&(df.date<=end_date)& (df.shop_name_norm.str.contains('small', na=False))].user_id.unique()

## Во время акции покупали только в Small

In [163]:
small = df[(df.date>=start_date)&(df.date<=end_date)&(df.user_id.isin(small_users))].groupby(df.user_id).shop_name_norm.unique().reset_index(name = 'list_shops')

In [164]:
total = df[(df.date>=start_date)&(df.date<=end_date)].user_id.nunique()
print('from {0:} to {1:} there were in total {2:} customers. {3:4.2f}% or {4:} were SMALL customers'.format(start_date, end_date, total, small.shape[0]*100/total, small.shape[0]))

from 2021-07-07 to 2021-07-12 there were in total 4333 customers. 16.55% or 717 were SMALL customers

In [165]:
only_small = small[~small.list_shops.apply(lambda x:len(x)<2)]

In [166]:
only_small_users = only_small.user_id

In [167]:

print('Of {0:} users {1:} purchased only from SMALL and {2:} from other stores too'.format(small.shape[0], only_small.shape[0], small.shape[0]-only_small_users.shape[0]))

Of 717 users 115 purchased only from SMALL and 602 from other stores too

## Новые пользователи после запущения акции

In [168]:
users = df[df.date<start_date].user_id.unique()

In [169]:
users[np.in1d(users, only_small_users)].shape[0]

70

In [170]:
np.intersect1d(users, only_small_users).shape

(70,)

In [171]:
only_small_users.shape[0] - users[np.in1d(users, only_small_users)].shape[0]

45

## Где покупали до акции

In [172]:
before = df[(df.date<start_date)&(df.user_id.isin(only_small_users))]

In [173]:
before.shape

(1612, 20)

In [174]:
final = before.groupby(before.user_id).shop_name_norm.unique().reset_index(name = 'shops')

In [175]:
final.shape

(70, 2)

In [176]:
final.head(5)

,user_id,shops
0,02dd9c43-da9c-4d5d-8c0b-27942257fb61,"[magnum, детский мир - казахстан]"
1,02f25295-84c6-470b-a899-f600dd8ae07c,"[l-med, magnum, small, детский мир - казахстан]"
2,03863a3a-404c-48b1-aead-022a362df6c6,[magnum]
3,06647e6c-615d-4232-9190-4bbe049677f5,[small]
4,0ef8f52d-f0fc-47f6-b53d-8ddc820d8afa,[small]

In [177]:
s1 = final[final.shops.apply(lambda x:len(x)<2)].shops.apply(lambda x: ''.join(x)).str.contains('small', na = False)
print('Количество пользователей которые покупали только в смол до акции: {0:} или {1:.2f}%'.format(s1.sum(), s1.sum()/final.shape[0]*100))

Количество пользователей которые покупали только в смол до акции: 18 или 25.71%

In [178]:
s2 = final[final.shops.apply(lambda x:len(x)>1)].shops.apply(lambda x: ''.join(x)).str.contains('small', na = False)
print('Количество пользователей которые покупали и в смол до акции: {0:} или {1:.2f}%'.format(s2.sum(), s2.sum()/final.shape[0]*100))

Количество пользователей которые покупали и в смол до акции: 25 или 35.71%

In [179]:
s3 = final[~pd.concat([s1,s2]).sort_index()]
print('Количество новых пользователей которые покупали только в смол ПОСЛЕ акции: {0:} или {1:.2f}%'.format(s3.shape[0], s3.shape[0]/final.shape[0]*100))

Количество новых пользователей которые покупали только в смол ПОСЛЕ акции: 27 или 38.57%

In [184]:
final[final.shops.apply(lambda x:len(x)>1)][s2]

,user_id,shops
1,02f25295-84c6-470b-a899-f600dd8ae07c,"[l-med, magnum, small, детский мир - казахстан]"
5,11093d6d-7cc7-4483-96bb-6cfdbd4f02d9,"[алмастор, small]"
6,1140fbbf-da72-4477-a2f0-c7b3524e8cc9,"[алмастор, small]"
8,189117cf-cc97-4e9c-800a-16041396b809,"[small, алмастор]"
9,1d0e7592-d3ed-48de-ba8d-bc0b9b6efe90,"[small, jardi kz]"
10,227c8bfa-47d9-451a-bdac-323212c877a6,"[small, лидер]"
14,3cad6448-7fcb-48b8-8103-8065a47c7271,"[small, magnum]"
17,480bc46a-ba9e-4186-b582-42be56d5564d,"[retail a-a, small, magnum]"
21,52ef654d-8a45-44f7-86cd-024f6cd8612a,"[magnum, small]"
23,5627347b-72d8-4352-8723-8cd41aad4180,"[small, магазин у дома]"
26,5e5f38a4-7b76-4cf5-b3c2-27244f2649b8,"[small, magnum]"
29,6343b7f5-44d7-4088-b3fb-d75dbea5a024,"[magnum, small]"
31,762eb9bb-e19b-490a-9907-d34b15f3bdca,"[magnum, small]"
37,8146ece9-c0bd-4e57-8953-d2848698cdaa,"[small, magnum]"
40,8877bd64-eb50-4b0c-9857-9a1c3c5ef596,"[small, key two]"
42,8968cf27-98ee-42b2-ba8b-55396cf26b22,"[magnum, small]"
48,95be425b-a1ea-4f21-bec1-f365f1042b65,"[magnum, small]"
51,ad66fbbf-0ed8-4b67-b5d1-ff3824fd3a25,"[jardi kz, small]"
52,b1041570-118e-4a18-9f99-32beb3518cb6,"[алмастор, small]"
54,b83ab797-fcc1-42f0-950a-25711c3a3430,"[small, jardi kz]"
55,b8e45c9b-e4b5-4773-9384-ee05bb8e3a4d,"[magnum, small]"
56,bb0a4c94-21e5-4c89-8832-56d805425dab,"[magnum, small]"
65,e75643e5-24ab-49dd-9b89-a5d427bd372f,"[small, magnum]"
66,f382922a-38c8-42cd-9711-eedeb9fba3ec,"[magnum, small]"
67,f4673cc6-830f-467a-991d-0339bf1fa266,"[magnum, small]"

In [159]:
not_small = final[~pd.concat([s1,s2]).sort_index()]

In [160]:
not_small = not_small.reset_index().drop(columns = ['index']).explode('shops', ignore_index = True)

In [140]:
to_small = not_small.groupby('shops').user_id.nunique().reset_index(name = 'freq').sort_values('freq', ascending = False)

In [141]:
to_small[:5]

                       shops  freq
2                     magnum    33
16  центр торговли "астықжан     5
7                   алмастор     4
4                      osten     3
1                   jardi kz     3

In [34]:
to_small.freq.sum()

60

In [35]:
not_small_users = not_small.user_id.unique()

In [36]:
not_small_top = df[(df.user_id.isin(not_small_users))&(df.date<'2021-07-21')]

In [37]:
not_small_top.shape

(1902, 20)

In [38]:
not_small_top = not_small_top[not_small_top.product_name.notna()]
not_small_top.shape

(1901, 20)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

In [40]:
word_vectorizer = CountVectorizer(ngram_range=(1,2), analyzer='word')
sparse_matrix = word_vectorizer.fit_transform(not_small_top['product_name'])

In [41]:
frequencies = sum(sparse_matrix).toarray()[0]
res = pd.DataFrame(frequencies, index=word_vectorizer.get_feature_names(), columns=['frequency'])

In [42]:
res = res.sort_values('frequency', ascending=False)

In [43]:
res = res.reset_index().rename(columns={'index': 'word'})

In [44]:
res['word_length'] = res.word.str.len()

In [45]:
res = res.loc[res.word_length > 2]

In [46]:
for i in res.iloc[:15].word:
    print(i)

пакет
вес
кор
small
напиток
молоко
печенье
400гр
magnum
чай
макароны
пакет magnum
пюре
платн
magnum платн

## Количество чеков

In [47]:
# start_date, end_date = '2021-07-07', '2021-07-12'

In [48]:
total_check = df[(df.date>=start_date)&(df.date<=end_date)].fiscal_id.nunique()
total_check

7095

In [49]:
small_check = df[(df.date>=start_date)&(df.date<=end_date)&(df.shop_name_norm.str.contains('small'))].fiscal_id.nunique()
small_check

1030

In [50]:
small_check/total_check*100

14.517265680056376

## Сумма закупок

In [ ]:
# start_date, end_date = '2021-07-14', '2021-07-19'
df.total_price = df.total_price.astype(float)

In [ ]:
d = df[(df.date>=start_date)&(df.date<=end_date)].groupby(df.request_id).total_price.value_counts().reset_index(name = 'ct')

In [ ]:
b = d.total_price.sum()

In [ ]:
dd = d = df[(df.date>=start_date)&(df.date<=end_date)&(df.shop_name_norm.str.contains('small'))].groupby(df.request_id).total_price.value_counts().reset_index(name = 'ct')

In [ ]:
a = dd.total_price.sum()

In [ ]:
a

In [ ]:
b

In [ ]:
df.loc[:, ['total_price', 'quantity']] = df.loc[:, ['total_price', 'quantity']].apply(lambda x: astype(x))

In [ ]:
d.values